@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins', sans-serif;
  @apply dark:bg-gray-500 dark:text-gray-100;
  @apply box-border;
}

/* Designing for scroll-bar */
::-webkit-scrollbar {
  @apply w-1.5;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-black;
  @apply rounded-md;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-500;
  @apply rounded-md;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}

/* 
:root {
  */ /* Your default theme */ /*
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
} */
